.descripcion{
    font-size: 28px;
    color: black;
    font-weight: 800;
    background-color:rgba(137, 43, 226, 0.911);
    padding: 6px;
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 6px solid blueviolet;
}