.formulario{
    color: black;
    border: 6px solid blueviolet;
    width: 700px;
    margin: auto;
    font-size: 20px;
    background-color:rgba(137, 43, 226, 0.651);
    padding: 15px;
    padding-bottom: 8px;
    margin-top: 75px;
}