.container-fluid{
    background: rgb(189,85,177);
    background: linear-gradient(90deg, rgba(189,85,177,1) 0%, rgba(167,16,151,1) 29%, rgba(73,36,195,1) 80%);
    border: #511d8c
}
header{
    position: fixed;
    width:100%;
    top: 0;
    padding:0px;
    font-size: 28px;
    font-weight: 900;
}

.navbar{
    padding-top: 0px;
    padding-bottom: 0px;
}

footer{
    position: fixed;
    bottom: 0px;
    width:100%;
    background: rgb(189,85,177);
    background: linear-gradient(90deg, rgba(189,85,177,1) 0%, rgba(167,16,151,1) 29%, rgba(73,36,195,1) 80%);
}