.recomendados{
    color: black;
    text-align: center;
    background-color:rgba(117, 43, 43, 0.87);
    border: 3px solid blueviolet;
    b{
        font-weight: 900;
        font-size: 28px;
    }
    .juegosindie{
        p{
            font-size:24px;
            font-weight: 600;
        }
        div{
            border: 3px solid blueviolet;
            background-color:$background;
        }
    }
}