.noticiasUlt{
    color: black;
    border: 6px solid blueviolet;
    width: 90%;
    padding: 10px;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-top: 30px;
    background-color:rgba(137, 43, 226, 0.911);
    .encabezado{
        color: black;
        margin-left:45px;
    }
    .card{
        position:static;
    }
    .card-body .card-title{
        color: black;
        font-size: 18px;
    }
}







