.noticiasUlt{
    color: rgb(0, 0, 0);
    border: 3px solid blueviolet;
    width: 90%;
    padding: 10px;
    margin-bottom: 140px;
    margin-left: 40px;
    margin-top: 30px;
    background-color:$background;
    .card{
        position:static;
    }
    .encabezado{
        color: black;
        text-align: center;
        font-size: 28px;
        font-weight: 900;       
    }
    .card-body b{
        color: black;
        font-size: 26px;
    }
    .card-body p{
        color: black;
        font-size: 22px;
    }
}