.container{
    margin-top: 60px;
    margin-bottom: 40px; 
}
.destacados{
    padding-top: 6px;
    padding-left: 4px;
    color: black;
    font-size: 28px;
    font-weight: 1200;
    border: 3px solid blueviolet;
    background-color:$background;
    iframe{
        width:336px;
        height: 189px;
    }
}