.stvivo{
    color: black;
    font-size: 28px;
    font-weight: 1200;
    border: 3px solid blueviolet;
    height: 100%;
    width:650px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    margin-top: 80px;
    background-color:$background;
}