@import "variables";
@import "fuentes";
@import "general";
@import "headerFooter";
@import "vivo";
@import "descripcion";
@import "tbh";
@import "noticiasInicio";
@import "juegosrecomendados";
@import "gridNoticias";
@import "videosDestacados";
@import "form";


.juegosindie{
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
    gap:15px;
    justify-items: center;
}

@media (min-width:320px){
    body{
        background-position:center;
    }
    .stvivo{
        width: 550px;
        margin: 0 auto;
        margin-top: 50px;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
    }
    .stvivo iframe{
        width: 504px;
        height: 284px;
    }
    }
    .descripcion, .tbh{
        width: 550px;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    .noticiasUlt{
        width:550px;
        display: block;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .recomendados{
        width: 540px;
        margin-left: 10px;
        margin-bottom: 40px;
    }
    .recomendados .juegosindie{
        width: 520px;
    }
    .recomendados .juegosindie img{
        width: 486px;
        height: 365px;
    }
    .destacados{
        width: 320px;
        margin-bottom: 10px;
    }
    .destacados iframe{
        width: 300px;
    }
    .formulario{
        width:360px;
    }
@media (min-width:500px){
    body{
        background-position:center;
    }
    .stvivo{
        width:480px;
    }
    .stvivo iframe{
        width:440px;
    }
    .descripcion, .tbh{
        width: 480px;
        margin-left: 0 auto;
    }
    .tbh img{
        width: 300px;
        height: 260px;
    }
    .noticiasUlt{
        width:480px;
        margin: auto;
    }
    .recomendados{
        width: 480px;
    }
    .recomendados .juegosindie div{
        margin-right: 50px;
    }
    .recomendados .juegosindie img{
        width: 350px;
        height: 300px;
    }
    .juegosindie img{
        margin-top:0px;
    }
    .formulario{
        width:80%;
    }
    .destacados{
        width:80%;
        display: flex;
        justify-content:center; 
        margin: 0 auto; 
        margin-bottom: 5px;
        padding-bottom: 5px;
    }
    .destacados iframe{
        width: 420px;
        height: 237px;
    }
}
@media (min-width: 768px){
    body{
        background-position:center;
    }
    .stvivo{
        width:90%;
        text-align: center;
    }
    .stvivo iframe{
        width:560px;
    }
    .descripcion, .tbh{
        width: 90%;
    }
    .tbh img{
        height:284px;
        width: auto;
    }
    .noticiasUlt{
        width:90%;
        margin: auto;
        margin-bottom: 15px;
    }
    .recomendados{
        width: 760px;
        margin: auto;
        margin-bottom: 40px;
    }
    .juegosindie{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap:15px;
        margin: 0;
    }
    .recomendados .juegosindie img{
        width: 200px;
        height: 150px;
    }
    .formulario{
        width:90%;
    }
    .destacados iframe{
        width: 560px;
        height: 315px;
    }
}
@media (min-width: 1024px) {
    body{
        background-position:center;
    }
    .stvivo{
        width:650px;
        text-align: center;
        margin: 0 auto;
        margin-top: 60px; 
    }
    .stvivo iframe{
        width:560px;
    }
    .descripcion{
        margin-left: 20px;
    }
    .tbh img{
        height: 284px;
        width: auto;
    }
    .noticiasUlt{
        color: black;
        border: 3px solid blueviolet;
        width: 90%;
        padding: 10px;
        margin-bottom: 40px;
        margin-left: 40px;
        margin-top: 30px;
        background-color:$background;
    }
    .recomendados{
        color: black;
        text-align: center;
        font-weight: 800;
        background-color:rgba(117, 43, 43, 0.87);
        font-size: 20px;
        padding: 6px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 80px;
        width: 1100px;
        border: 3px solid blueviolet; 
    }
    .juegosindie{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:15px;
        margin: 0;
    }
    .recomendados .juegosindie img{
        width: 500px;
        height: 425px;
        margin-top: 15px;
    }
    .destacados{
        width: 350px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .destacados iframe{
        width:336px;
        height: 189px;
    }
}

.zoom{
    transition: all 1.5s;
}

.zoom:hover{
    transform: scale(1.3);
}