*{
    padding:0;
    margin:0;
}

body{
    background-image: url(../img/fondo.jpeg)
}

.container-fluid, .dropdown-menu{
    background: rgb(189,85,177);
    background: linear-gradient(90deg, rgba(189,85,177,1) 0%, rgba(167,16,151,1) 29%, rgba(73,36,195,1) 80%);
    border: #511d8c
}
header{
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.noticiasGrid{
    margin-top:10px;
    margin-bottom:45px;
    margin-left:30px;
    margin-right:30px;
}

footer{
    position: fixed;
    bottom: 0px;
    width:100%;
    background: rgb(189,85,177);
    background: linear-gradient(90deg, rgba(189,85,177,1) 0%, rgba(167,16,151,1) 29%, rgba(73,36,195,1) 80%);
}


.stvivo{
    color: black;
    border: 6px solid blueviolet;
    height: 100%;
    width:650px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    margin-top: 15px;
    background-color:rgba(137, 43, 226, 0.651);
}

.noticiasUlt{
    color: black;
    border: 6px solid blueviolet;
    padding: 10px;
    margin-bottom: 40px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    background-color:rgba(137, 43, 226, 0.651);
}
.encabezado{
    color: black;
    margin-left:45px;
}

.formulario{
    color: black;
    border: 6px solid blueviolet;
    width: 700px;
    margin-left: 20px;
    font-size: 15px;
    background-color:rgba(137, 43, 226, 0.651);
    padding: 15px;
    padding-bottom: 8px;
    margin-top: 15px;
}

.descripcion{
    color: black;
    font-family: 'Kanit', sans-serif;
    font-weight: 800;
    background-color:rgba(137, 43, 226, 0.651);
    font-size: 20px;
    padding: 6px;
    margin: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 6px solid blueviolet;
}