@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(../img/fondo.jpeg);
  background-attachment: fixed;
  background-position: center;
  font-family: "Roboto", sans-serif;
}

.container-fluid {
  background: rgb(189, 85, 177);
  background: linear-gradient(90deg, rgb(189, 85, 177) 0%, rgb(167, 16, 151) 29%, rgb(73, 36, 195) 80%);
  border: #511d8c;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 0px;
  font-size: 28px;
  font-weight: 900;
}

.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: rgb(189, 85, 177);
  background: linear-gradient(90deg, rgb(189, 85, 177) 0%, rgb(167, 16, 151) 29%, rgb(73, 36, 195) 80%);
}

.stvivo {
  color: black;
  font-size: 28px;
  font-weight: 1200;
  border: 3px solid blueviolet;
  height: 100%;
  width: 650px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  margin-top: 80px;
  background-color: rgba(187, 145, 224, 0.911);
}

.descripcion, .quienesSomos {
  font-size: 28px;
  color: black;
  font-weight: 800;
  background-color: rgba(187, 145, 224, 0.911);
  padding: 6px;
  margin-left: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 3px solid blueviolet;
}

.tbh {
  background-color: rgba(187, 145, 224, 0.911);
  color: black;
  font-weight: 900;
  font-size: 24px;
  padding: 6px;
  margin: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 3px solid blueviolet;
  text-align: center;
}
.tbh .redestbh {
  display: inline-block;
  margin-bottom: 3px;
}
.tbh img {
  height: 284px;
  display: block;
  margin: 0px auto;
}

.noticiasUlt {
  color: rgb(0, 0, 0);
  border: 3px solid blueviolet;
  width: 90%;
  padding: 10px;
  margin-bottom: 140px;
  margin-left: 40px;
  margin-top: 30px;
  background-color: rgba(187, 145, 224, 0.911);
}
.noticiasUlt .card {
  position: static;
}
.noticiasUlt .encabezado {
  color: black;
  text-align: center;
  font-size: 28px;
  font-weight: 900;
}
.noticiasUlt .card-body b {
  color: black;
  font-size: 26px;
}
.noticiasUlt .card-body p {
  color: black;
  font-size: 22px;
}

.recomendados {
  color: black;
  text-align: center;
  background-color: rgba(117, 43, 43, 0.87);
  padding: 6px;
  margin: 60px;
  margin-top: 20px;
  margin-bottom: 1em;
  border: 3px solid blueviolet;
}
.recomendados b {
  font-weight: 900;
  font-size: 28px;
}
.recomendados .juegosindie p {
  font-size: 24px;
  font-weight: 600;
}
.recomendados .juegosindie div {
  border: 3px solid blueviolet;
  background-color: rgba(187, 145, 224, 0.911);
}

.noticiasGrid {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 30px;
  margin-right: 30px;
}
.noticiasGrid .card {
  position: static;
}

.container {
  margin-top: 60px;
  margin-bottom: 40px;
}

.destacados {
  padding-top: 6px;
  padding-left: 4px;
  color: black;
  font-size: 28px;
  font-weight: 1200;
  border: 3px solid blueviolet;
  background-color: rgba(187, 145, 224, 0.911);
}
.destacados iframe {
  width: 336px;
  height: 189px;
}

.formulario {
  color: black;
  border: 3px solid blueviolet;
  width: 700px;
  margin: auto;
  font-size: 20px;
  background-color: rgba(187, 145, 224, 0.911);
  padding: 15px;
  padding-bottom: 8px;
  margin-top: 75px;
}

.btn--twitch {
  background-color: #4d3c99;
}

.btn--twitter {
  background-color: #4699b4;
}

.btn--instagram {
  background-color: #9b0a52;
}

.quienesSomos {
  margin-top: 60px;
  margin-bottom: 60px;
}
.quienesSomos b {
  font-size: 48px;
}

.quienesSomos {
  color: white;
  background-color: rgb(65, 35, 0);
  font-size: 24px;
  font-weight: 400;
}

.juegosindie {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 1fr;
  gap: 15px;
  justify-items: center;
}

@media (min-width: 320px) {
  body {
    background-position: center;
  }
  .stvivo {
    width: 550px;
    margin: 0 auto;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }
  .stvivo iframe {
    width: 504px;
    height: 284px;
  }
}
.descripcion, .quienesSomos, .tbh {
  width: 550px;
  margin-left: 10px;
}

.noticiasUlt {
  width: 550px;
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.recomendados {
  width: 540px;
  margin-left: 10px;
  margin-bottom: 40px;
}

.recomendados .juegosindie {
  width: 520px;
}

.recomendados .juegosindie img {
  width: 486px;
  height: 365px;
}

.destacados {
  width: 320px;
  margin-bottom: 10px;
}

.destacados iframe {
  width: 300px;
}

.formulario {
  width: 360px;
}

@media (min-width: 500px) {
  body {
    background-position: center;
  }
  .stvivo {
    width: 480px;
  }
  .stvivo iframe {
    width: 440px;
  }
  .descripcion, .quienesSomos, .tbh {
    width: 480px;
    margin-left: 0 auto;
  }
  .tbh img {
    width: 300px;
    height: 260px;
  }
  .noticiasUlt {
    width: 480px;
    margin: auto;
  }
  .recomendados {
    width: 480px;
  }
  .recomendados .juegosindie div {
    margin-right: 50px;
  }
  .recomendados .juegosindie img {
    width: 350px;
    height: 300px;
  }
  .juegosindie img {
    margin-top: 0px;
  }
  .formulario {
    width: 80%;
  }
  .destacados {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 5px;
    padding-bottom: 5px;
  }
  .destacados iframe {
    width: 420px;
    height: 237px;
  }
}
@media (min-width: 768px) {
  body {
    background-position: center;
  }
  .stvivo {
    width: 90%;
    text-align: center;
  }
  .stvivo iframe {
    width: 560px;
  }
  .descripcion, .quienesSomos, .tbh {
    width: 90%;
  }
  .tbh img {
    height: 284px;
    width: auto;
  }
  .noticiasUlt {
    width: 90%;
    margin: auto;
    margin-bottom: 15px;
  }
  .recomendados {
    width: 760px;
    margin: auto;
    margin-bottom: 40px;
  }
  .juegosindie {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin: 0;
  }
  .recomendados .juegosindie img {
    width: 200px;
    height: 150px;
  }
  .formulario {
    width: 90%;
  }
  .destacados iframe {
    width: 560px;
    height: 315px;
  }
}
@media (min-width: 1024px) {
  body {
    background-position: center;
  }
  .stvivo {
    width: 650px;
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
  }
  .stvivo iframe {
    width: 560px;
  }
  .descripcion, .quienesSomos {
    margin-left: 20px;
  }
  .tbh img {
    height: 284px;
    width: auto;
  }
  .noticiasUlt {
    color: black;
    border: 3px solid blueviolet;
    width: 90%;
    padding: 10px;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-top: 30px;
    background-color: rgba(187, 145, 224, 0.911);
  }
  .recomendados {
    color: black;
    text-align: center;
    font-weight: 800;
    background-color: rgba(117, 43, 43, 0.87);
    font-size: 20px;
    padding: 6px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 80px;
    width: 1100px;
    border: 3px solid blueviolet;
  }
  .juegosindie {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin: 0;
  }
  .recomendados .juegosindie img {
    width: 500px;
    height: 425px;
    margin-top: 15px;
  }
  .destacados {
    width: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .destacados iframe {
    width: 336px;
    height: 189px;
  }
}
.zoom {
  transition: all 1.5s;
}

.zoom:hover {
  transform: scale(1.3);
}/*# sourceMappingURL=style.css.map */